input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-animation: autofill 0s forwards;
  animation: autofill 0s forwards;
}

@keyframes autofill {
  100% {
    background: transparent;
    color: inherit;
  }
}

@-webkit-keyframes autofill {
  100% {
    background: transparent;
    color: inherit;
  }
}

/* @media only screen and (min-width: 700px) {
  .loginFormCSS {
    width: 100% !important;
  }
} */

@media only screen and (max-width: 700px) {
  .body-box {
    display: block;
  }
  .profile-card {
    margin-left: 15vw !important;
    width: 70vw !important;
  }
  .profile-card .card-body {
    float: right;
  }
  .feed {
    margin-left: 20px !important;
  }
  .loginFormCSS {
    width: 70vw !important;
  }
  .body-box {
    justify-content: center;
  }
}

@media only screen and (max-width: 500px) {
  .body-box {
    display: block;
  }
  .profile-card {
    margin-left: 6vw !important;
    margin-right: 2vw !important;
    width: 94vw !important;
  }
  .profile-card .card-body {
    float: right;
  }
  .avatar {
    width: 125px !important;
    height: 125px !important;
    text-align: center;
  }
  .card-block {
    width: 60% !important;
  }
  .card-header {
    width: 40% !important;
    padding: 10px !important;
  }
  .feed {
    margin-left: 6vw !important;
    margin-right: 2vw !important;
    width: 94vw !important;
  }
  .navbar-expand-lg .navbar-toggler {
    margin-left: 20%;
  }
  .navbar-collapse {
    text-align: right !important;
  }
}

.avatar {
  width: inherit;
  height: 200px;
  margin-top: 5px;
  padding: 5px;
  border-radius: 50%;
  text-align: center !important;
}

.heading {
  text-align: center;
  margin-top: 50px;
  width: 90%;
  max-width: 600px;
  border-radius: 10px;
}

body {
  background-color: rgb(34, 40, 49);
  color: white;
}

.form-control {
  text-align: center;
  background-color: rgb(34, 40, 49) !important;
  color: white !important;
  border: none;
  border-bottom: solid;
  border-color: grey;
  margin-bottom: 5px;
}

.loginFormCSS {
  width: 40vw;
  border: solid;
  border-width: 1px;
  padding: 20px;
  border-radius: 10px;
  border-color: rgb(239, 187, 53);
}

#fncyBtn {
  background-color: rgb(34, 40, 49) !important;
  border-bottom: solid !important;
  border-width: 2px;
}

.Nav {
  background-color: rgb(50, 58, 70);
  border-bottom: solid;
  padding: 3vw;
  border-width: 2px;
  margin-right: 0px !important;
  border-color: rgb(239, 187, 53);
  color: rgb(239, 187, 53);
}

.nav-link {
  text-align: right !important;
  justify-content: right;
  font-size: 1.5rem;
  color: rgb(192, 192, 192);
  padding: 3px;
}

.nav-link:hover {
  color: rgb(239, 187, 53);
}

.Nav .navbar-expand-lg {
  padding: 5px;
  width: 100vw !important;
}

#navbarTogglerDemo02 {
  width: 98vw !important;
}

.NavBtn {
  color: rgb(239, 187, 53);
}

.NavItem {
  max-width: 40px;
  color: white;
}

.logo {
  width: 200px;
  margin-left: 15px;
}

.profile-card .card-body {
  padding: 5px;
}

.card {
  color: rgb(192, 192, 192) !important;
  border-color: rgb(239, 187, 53) !important;
  background-color: rgb(50, 58, 70) !important;
  border: solid;
  border-width: 1px;
  border-radius: 5px;
}

.profile-card {
  text-align: left;
  margin-top: 25px;
  width: 25vh;

  margin-left: 75px;
  color: rgb(192, 191, 191);
  display: inline-block;
}

.post {
  border-bottom: solid;
  border-width: 1px;
  margin-top: 5px;
  margin-bottom: 5px;
  border-color: rgb(239, 187, 53);
  color: rgb(192, 192, 192);
}

.feed {
  border: solid;
  border-width: 1px;
  border-radius: 1%;
  background-color: rgb(50, 58, 70);
  border-color: rgb(239, 187, 53);
  margin-top: 25px;
  margin-left: 50px;
  margin-right: 20px;
  width: 1000px;
  display: inline-block;
}

.workout-form {
  border: solid;
  border-width: 1px;
  border-color: rgb(239, 187, 53);
  margin: 50px;
  margin-bottom: 20px;
  border-radius: 2%;
}
.workout-form .container .row {
  justify-content: flex-end !important;
  margin-right: 5% !important;
}
